<div class="site-main">
<div class="container">
    <section id="primary" class="content-area no-sidebar">

        <div id="content" class="site-content">

            <div class="blog-page blog-single">






                <article class="hentry page publish post-1 odd author-tokoanggi" id="post-1702">


                    <div class="woocommerce">



                        <div id="customer_login" class="col2-set">

                            <div class="col-1">


                                <h2>Login</h2>

                                <form class="login" method="post">


                                    <p class="form-row form-row-wide">
                                        <label for="username">Email <span class="required">*</span></label>
                                        <input type="email" value="" id="username" name="username" class="input-text" ng-model="login.email">
                                    </p>
                                    <p class="form-row form-row-wide">
                                        <label for="password">Mot de passe <span class="required">*</span></label>
                                        <input type="password" id="password" name="password" class="input-text"  ng-model="login.password">
                                    </p>


                                    <p class="form-row">			
                                        <input type="submit" value="Login" name="login" class="button" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">

                                    </p>
                                    <p class="lost_password">
                                        <a href="#">Mot de passe perdu?</a>
                                    </p>


                                </form>


                            </div>

                            <div class="col-2">

                                <h2>S'inscrire</h2>

                                <form class="register" method="post">



                                    <p class="form-row form-row-wide">
                                        <label for="reg_email">Email<span class="required">*</span></label>
                                        <input type="email" value="" id="reg_email" name="email" class="input-text">
                                    </p>


                                    <p class="form-row form-row-wide">
                                        <label for="reg_password">Mot de passe <span class="required">*</span></label>
                                        <input type="password" id="reg_password" name="password" class="input-text">
                                    </p>




                                </form>

                            </div>

                        </div>

                    </div>


                </article><!-- #article-1702 -->






            </div>

        </div><!-- #content .site-content -->

    </section><!-- #primary .content-area .has-sidebar -->


</div><!-- .container -->
</div>